form input {
    width: 100%;
}

.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-signup {
    width: 100%;
}
.submit {
    max-width: 200px;
}